/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&family=Sriracha&display=swap'); */

:root {

    --border: .1rem solid rgba(0, 0, 0, .1);
    --border-hover: .1rem solid var(--black);
    --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);


    /* --cor: #080409;
    --cor: #223059;
    --cor: #BF0426;
    --cor: #011C40;
    --cor: #021140;
    
    --cor: #c30303;
    --cor: #89ABD9;
    --cor: #3D90D9;
    --cor: #2A6BBF;
    --cor: #155FBF;
    --cor: #736555;
    --cor: #444;
    --cor4: #772ddf;
    --cor: #E6E6E6;
    --cor: #4F4F4F;
    --cor: #AEEBF2;
    --cor: #99D0F2;
    --cor: #010326;
    --cor: #BF0426;
    --cor: #011C40;
    --cor: #023E73;
    --cor: #0D0D0D;
    --cor: #91F2E9;
    --cor: #415AA6;
    --cor: #354B8C;
    --cor: #F21667;
    --cor: #3E95FA;
    --cor: #2855DB;
    --cor: #22040f;
    --cor: #DB5F18;
    --cor: #FA4700; */
    
    --cinza: #626262;
    --preto: #000000;
    --roxo1: #7800db;
    

    /* cor principal do site */
    --roxo: #8225ce;

    /* cor do hover */
    --azul: #1c61d7;

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Popins', sans-serif;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
    transition: width none;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: 1rem;

}

html::-webkit-scrollbar-track {
    background: transparent;
}

html::-webkit-scrollbar-thumb {
    background: var(--cinza);
}

section {
    padding: 7rem 9%;
    margin: 1rem;
}

.titulo {
    text-align: center;
    margin-bottom: 5rem;
    position: relative;
}

.titulo span {
    font-size: 3rem;
    color: var(--preto);
    padding: .5rem 2rem;
    background: #fff;
}

.btn {
    margin-top: 1rem;
    display: inline-block;
    padding: .9rem 3rem;
    border-radius: .5rem;
    color: #fff;
    background: var(--roxo);
    font-size: 1.7rem;
    cursor: pointer;
    font-weight: 500;
}

.btn:hover {
    background: var(--azul);
}


.inicio{
    background: url(../imagens/);
}

.banner-slider img {
    width: 100%;
    height: 100%;
    padding-right: 4.5rem;
    margin-top: 1.5rem;
    height: 45vh;
   
}

/* INICIO BARRA DE MENU */



.topo .topo-1 {
    background: #fff;
    padding: 1.5rem 12%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.topo .topo-1 .logo {
    font-size: 2.2rem;
    font-weight: bolder;
    color: var(--azul);
}

.topo .topo-1 .logo i {
    color: var(--roxo1);
    font-size: 2.2rem;
}

.topo .topo-1 .form-pesquisa {
    width: 50rem;
    height: 5rem;
    border: var(--border);
    overflow: hidden;
    background: #fff;
    display: flex;
    align-items: center;
    border-radius: .5rem;
}

.topo .topo-1 .form-pesquisa input {
    font-size: 1.6rem;
    padding: 0 1.2rem;
    height: 100%;
    width: 100%;
    text-transform: none;
    color: var(--preto);
}

.topo .topo-1 .form-pesquisa label {
    font-size: 3rem;
    padding-right: 1.5rem;
    color: var(--roxo);
    cursor: pointer;
}

.topo .topo-1 .form-pesquisa label:hover {
    color: var(--azul);
}

.topo .topo-1 .icons div,
.topo .topo-1 .icons a{

    font-size: 2.5rem;
    margin-left: 1.5rem;
    color: var(--roxo);
    cursor: pointer;


}

.topo .topo-1 .icons div:hover,
.topo .topo-1 .icons a:hover {
    color: var(--azul);
}

#botao-pesquisar {
    display: none;
}

/* FIM TOPO-1 */


/* INICIO TOPO-2 */

.topo .topo-2 {
    background: var(--roxo);
}

.topo .topo-2 .menu-nav {
    text-align: center;
}

.topo .topo-2 .menu-nav a {
    color: #fff;
    display: inline-block;
    padding: 1.2rem;
    font-size: 1.7rem;
}

.topo .topo-2 .menu-nav a:hover {
    background: var(--azul);
    
}

.topo .topo-2 .active {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

/* FIM TOPO-2 */

/* INICIO BARRA-MENU */
.barra-menu {
    text-align: center;
    background: var(--roxo);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: none;
}

.barra-menu a {
    font-size: 2.5rem;
    padding: 2rem;
    color: #fff;
}

.barra-menu a:hover {
    background: var(--azul);
}

/* FIM BARRA-MENU */


/* INICIO LOGIN-FORM */
.login-form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, .9);
    position: fixed;
    top: 0;
    right: -105%;
    z-index: 1000;
    height: 100%;
    width: 100%;
}

.login-form-container.active {
    right: 0;
}

.login-form-container form {
    background: #fff;
    border: var(--border);
    width: 40rem;
    padding: 2rem;
    box-sizing: var(--box-shadow);
    border-radius: .5rem;
    margin: 2rem;
}

.login-form-container form h3 {
    font-size: 2.5rem;
    text-transform: uppercase;
    color: var(--roxo);
    text-align: center;
}

.login-form-container form span {
    display: block;
    font-size: 1.5rem;
    padding-top: 1rem;
}

.login-form-container form .box {
    width: 100%;
    margin: .7rem 0;
    font-size: 1.6rem;
    border: var(--border);
    border-radius: 5rem;
    padding: 1rem 1.2rem;
    color: var(--preto);
    text-transform: none;
}

.login-form-container form .checkbox {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem 0;
}

.login-form-container form .checkbox label {
    font-size: 1.5rem;
    color: var(--preto);
    cursor: pointer;
}

.login-form-container form .btn {
    text-align: center;
    width: 100%;
    margin: 1.5rem 0;
}

.login-form-container form p {
    padding-top: 2.5rem;
    color: var(--preto);
    font-size: 1.5rem;
}

.login-form-container form p a {
    color: var(--preto);
    text-decoration: underline;
}

.login-form-container #close-login-btn {
    position: absolute;
    top: 1.5rem;
    right: 2.5rem;
    font-size: 5rem;
    color: var(--preto);
    cursor: pointer;
}

/* FIM LOGIN-FORM */




/* FINAL SECTION INICIO  */



/* COMEÇO SECTION ICONS */

.icons-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;
}

.icons-container .icons {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding: 2rem 0;
}

.icons-container .icons i {
    font-size: 3.5rem;
    color: var(--roxo);
}

.icons-container .icons h3 {
    font-size: 2.2rem;
    color: var(--azul);
    padding-bottom: .5rem;
}

.icons-container .icons p {
    font-size: 1.4rem;
    color: var(--preto);
}

/* FINAL SECTION ICONS */



/* COMEÇO SECTION PRODUTOS  */

.produtos .produtos-slider .box {
    margin: 1rem 0;
    position: relative;
    overflow: hidden;
    text-align: center;
    background: var(--roxo);
}

.produtos .produtos-slider .box:hover {
    border: var(--border);
    transform: translateX(1rem);
}

.produtos .produtos-slider .box .image {
    padding: 1rem;
    background: linear-gradient(35deg, #eee 30%, #fff 30.1%);
}



.produtos .produtos-slider .box .image img {
    height: 15rem;
}

.produtos .produtos-slider .box .icons a {
    color: var(--roxo);
    font-size: 2.4rem;
    padding: .1rem;
    position: absolute;
    right: .1rem;
}

.produtos .produtos-slider .box .icons a:hover {
    background: var(#fff);
    color: var(--azul);
    border: var(--border-hover);
}

.produtos .produtos-slider .box .conteudo {
    background: #eee;
    padding: 2.5rem;
}

.produtos .produtos-slider .box .conteudo h3 {
    font-size: 2rem;
    padding: .5rem;
}

.produtos .produtos-slider .box .conteudo .preco {
    font-size: 2rem;
    color: var(--preto);
    padding-top: 1rem;
}


.produtos .produtos-slider .swiper-button-next,
.produtos .produtos-slider .swiper-button-prev {
    border: var(--border-hover);
    border-radius: 50%;
    height: 5rem;
    width: 5rem;
    color: var(--roxo);
    background: rgba(255, 255, 255, 0.203);
}

.produtos .produtos-slider .swiper-button-next::after,
.produtos .produtos-slider .swiper-button-prev::after {
    font-size: 3.5rem;
}

.produtos .produtos-slider .swiper-button-next:hover,
.produtos .produtos-slider .swiper-button-prev:hover {
    background: var(--roxo);
    color: #fff;
}
/* FINAL SECTION PRODUTOS  */



/* COMEÇO SECTION NEWS */

.news {
    background: url(../imagens/banner/newsletter.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    
}

.news form {
    max-width: 45rem;
    margin-left: auto;
    text-align: center;
    padding: 4rem 0;
}

.news form h3 {
    font-size: 2.2rem;
    color: var(--preto);
    padding-bottom: 3rem;
    font-weight: 600;
}

.news form .box {
    width: 100%;
    margin: .1rem 0;
    padding: 1rem 1.2rem;
    font-size: 1.6rem;
    color: var(--preto);
    border-radius: .5rem;
    text-transform: none;
}
/* FINAL SECTION NEWS */



/* COMEÇO SECTION OFERTAS  */

.ofertas .ofertas-slider .box {
    margin: 1rem 0;
    position: relative;
    overflow: hidden;
    border: var(--border-hover);
    text-align: center;
    background: var(--roxo);
}

.ofertas .ofertas-slider .box:hover {
    border: var(--border);
    transform: translateX(1rem);
    
}

.ofertas .ofertas-slider .box .image {
    padding: 1rem;
    background: linear-gradient(35deg, #eee 30%, #fff 30.1%);
}



.ofertas .ofertas-slider .box .image img {
    height: 15rem;
}

.ofertas .ofertas-slider .box .icons a {
    color: var(--roxo);
    font-size: 2.4rem;
    padding: .1rem;
    position: absolute;
    right: .1rem;
}

.ofertas .ofertas-slider .box .icons a:hover {
    background: var(#fff);
    color: var(--azul);
    border: var(--border-hover);
}

.ofertas .ofertas-slider .box .conteudo {
    background: #eee;
    padding: 2.5rem;
}

.ofertas .ofertas-slider .box .conteudo h3 {
    font-size: 2rem;
    color: var(--preto);
    /* padding: .5rem; */
}

.ofertas .ofertas-slider .box .conteudo .preco {
    font-size: 2rem;
    color: var(--preto);
    padding-top: 1rem;
}

.ofertas .ofertas-slider .box .conteudo .preco span{
    font-size: 1.5rem;
    color: var(--preto);
    text-decoration: line-through;
}

.desconto{
    position: absolute;
    background: var(--roxo);
    color: #fff;
    font-size: 1.7rem;
    padding: .60rem;
    border-radius: .5rem;
    left: .20rem;
    top: 1rem;
    
}


.ofertas .ofertas-slider .swiper-button-next,
.ofertas .ofertas-slider .swiper-button-prev {
    border: var(--border-hover);
    border-radius: 50%;
    height: 5rem;
    width: 5rem;
    color: var(--roxo);
    background: rgba(255, 255, 255, 0.203);
}

.ofertas .ofertas-slider .swiper-button-next::after,
.ofertas .ofertas-slider .swiper-button-prev::after {
    font-size: 3.5rem;
}

.ofertas .ofertas-slider .swiper-button-next:hover,
.ofertas .ofertas-slider .swiper-button-prev:hover {
    background: var(--roxo);
    color: #fff;
}

/* FINAL SECTION OFERTAS  */


/* COMEÇO SECTION MARCAS  */

.marcas{
    background-color: rgb(226, 222, 222);
}

.marcas .marcas-slider .box .image img {
    height: 15rem;
}

.marcas .titulo span {
    font-size: 3rem;
    color: var(--roxo);
    padding: .5rem 2rem;
    background: rgb(226, 222, 222);
}
/* FINAL SECTION MARCAS  */



/* COMEÇO SECTION PRODUTOS  */

.novidades .novidades-slider .box {
    margin: 1rem 0;
    position: relative;
    overflow: hidden;
    border: var(--border-hover);
    text-align: center;
    background: var(--roxo);
}

.novidades .novidades-slider .box:hover {
    border: var(--border);
    transform: translateX(1rem);
}

.novidades .novidades-slider .box .image {
    padding: 1rem;
    background: linear-gradient(35deg, #eee 30%, #fff 30.1%);
}

.novidades .novidades-slider .box .image img {
    height: 15rem;
}

.novidades .novidades-slider .box .icons a {
    color: var(--roxo);
    font-size: 2.4rem;
    padding: .1rem;
    position: absolute;
    right: .1rem;
}

.novidades .novidades-slider .box .icons a:hover {
    background: var(#fff);
    color: var(--azul);
    border: var(--border-hover);
}

.novidades .novidades-slider .box .conteudo {
    background: #eee;
    padding: 2.5rem;
}

.novidades .novidades-slider .box .conteudo h3 {
    font-size: 2rem;
    color: var(--preto);
}

.novidades .novidades-slider .box .conteudo .preco {
    font-size: 2rem;
    color: var(--preto);
    padding-top: 1rem;
}


.novidades .novidades-slider .swiper-button-next,
.novidades .novidades-slider .swiper-button-prev {
    border: var(--border-hover);
    border-radius: 50%;
    height: 5rem;
    width: 5rem;
    color: var(--roxo);
    background: rgba(255, 255, 255, 0.203);
}

.novidades .novidades-slider .swiper-button-next::after,
.novidades .novidades-slider .swiper-button-prev::after {
    font-size: 3.5rem;
}

.novidades .novidades-slider .swiper-button-next:hover,
.novidades .novidades-slider .swiper-button-prev:hover {
    background: var(--roxo);
    color: #fff;
}

/* FINAL SECTION PRODUTOS  */



/* COMEÇO SECTION FOOTER  */

.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;
}

.footer .box-container .box h3{
    font-size: 2.2rem;
    color: var(--roxo);
    padding: 1rem 0;
}

.footer .box-container .box a{
    display: block;
    font-size: 1.4rem;
    color: var(--roxo);
    padding: 1rem 0;
}

.footer .box-container .box a i{
    color: var(--azul);
    padding-right: .5rem;
}

.footer .box-container .box a:hover i{
    padding-right: 2rem;
}

.footer .box-container .box-pagamento h3{
    font-size: 2.2rem;
    color: var(--roxo);
    padding: 1rem 0;
}

.footer .box-container .box-pagamento i{
    font-size: 2.2rem;
    color: var(--azul);
    padding-right: 2.5rem;
}



.footer .redes-social h3{
    font-size: 2.2rem;
    color: var(--roxo);
    padding: 3rem 0;
}

.footer .redes-social{
    padding: 10rem 0;
    text-align: center;
}

.footer .redes-social a{
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    color: #fff;
    background: var(--azul);
    margin: 0 .3rem;
    border-radius: 50%;
}

.footer .redes-social a:hover{
    background: var(--roxo);
}

.footer .creditos{
    border-top: var(--border);
    margin-top: 2rem;
    padding: 0 1rem;
    padding-top: 2.5rem;
    font-size: 2rem;
    color: var(--azul);
    text-align: center;
}

.footer .creditos span{
    color: var(--roxo);
}


/* FINAL SECTION FOOTER  */




.loader-container{
    position: fixed;
    top: 0; left: 0;
    height: 100%;
    width: 100%;
    z-index: 10000;
    background: #f7f7f7;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader-container.active{
    display: none;
}

.loader-container img{
    height: 10rem;
}























/* MEDIA QUERIES */


@media (max-width: 991px) {
    html {
        font-size: 50%;
    }

    .topo .topo-2 {
        padding: 2rem;
    }

    section {
        padding: 3rem 2rem;
    }

    /* .topo .topo-1 .form-pesquisa {
        width: 55%;
    } */

    .banner-slider img {
        width: 100%;
        height: 100%;
        margin-top: 2rem;
        
    }

    
}


@media (max-width: 768px) {
    html {
        scroll-padding-top: 0;
    }

    body {
        padding-bottom: 6rem;
    }

    .topo .topo-2 {
        display: none;
    }

    .barra-menu {
        display: block;
    }

   
    #botao-pesquisar {
        display: inline-block;
    }

 
    .topo .topo-1 {
        box-shadow: var(--box-shadow);
        position: relative;
    }

  
    .topo .topo-1 .form-pesquisa {
        position: absolute;
        top: -115%; right: 2rem;
        width: 90%;
        box-shadow: var(--box-shadow);
    }


    .topo .topo-1 .form-pesquisa.active{
        top: 115%;
        /* left: 0;
        width: 60%; */
    }

    .inicio .banner-slider {
        display: flex;
        width: 100%;
        padding-top: 2rem;

    }

    .banner-slider img {
        width: 100%;
        height: 100%;;
        margin-top: 2rem;
    }

    .desconto{
        position: absolute;
        background: var(--roxo);
        color: #fff;
        font-size: 1.2rem;
        padding: .60rem;
        border-radius: .5rem;
        left: .20rem;
        top: 1rem;
        
    }

}


@media (max-width: 500px) {

    html {
        font-size: 50%;
    }

    .topo .topo-1 .form-pesquisa.active {
        top: 115%;
        left: 0;
        width: 80%;
    }

    .banner-slider img {
        width: 100%;
        height: 100%;
        margin-top: 2rem;

    }

    .footer .redes-social{
        padding: 1rem 0;
        text-align: center;
    }

    .footer .creditos{
        border-top: var(--border);
        margin-top: 1rem;
        padding: 0 5rem;
        padding-top: 1.5rem;
        font-size: 1.2rem;
        color: var(--cor1);
        text-align: center;
    }

}